@model List<Product>
﻿@{
    ViewData["Title"] = "Home Page";
}
<main>
    <section class="swiper-container js-swiper-slider slideshow full-width_padding"
             data-settings='{
        "autoplay": {
          "delay": 5000
        },
        "slidesPerView": 1,
        "effect": "fade",
        "loop": true,
        "pagination": {
          "el": ".slideshow-pagination",
          "type": "bullets",
          "clickable": true
        }
      }'>
        @await Component.InvokeAsync("SliderVC");

        <div class="container">
            <div class="slideshow-pagination d-flex align-items-center position-absolute bottom-0 mb-5"></div>
            <!-- /.products-pagination -->
        </div><!-- /.container -->

        <div class="slideshow-social-follow d-none d-xxl-block position-absolute top-50 start-0 translate-middle-y text-center">
            <ul class="social-links list-unstyled mb-0 text-secondary">
                <li>
                    <a href="#" class="footer__social-link d-block">
                        <svg class="svg-icon svg-icon_facebook" width="9" height="15" viewBox="0 0 9 15" xmlns="http://www.w3.org/2000/svg"><use href="#icon_facebook" /></svg>
                    </a>
                </li>
                <li>
                    <a href="#" class="footer__social-link d-block">
                        <svg class="svg-icon svg-icon_twitter" width="14" height="13" viewBox="0 0 14 13" xmlns="http://www.w3.org/2000/svg"><use href="#icon_twitter" /></svg>
                    </a>
                </li>
                <li>
                    <a href="#" class="footer__social-link d-block">
                        <svg class="svg-icon svg-icon_instagram" width="14" height="13" viewBox="0 0 14 13" xmlns="http://www.w3.org/2000/svg"><use href="#icon_instagram" /></svg>
                    </a>
                </li>
                <li>
                    <a href="#" class="footer__social-link d-block">
                        <svg class="svg-icon svg-icon_pinterest" width="14" height="15" viewBox="0 0 14 15" xmlns="http://www.w3.org/2000/svg"><use href="#icon_pinterest" /></svg>
                    </a>
                </li>
            </ul><!-- /.social-links list-unstyled mb-0 text-secondary -->
            <span class="slideshow-social-follow__title d-block mt-5 text-uppercase fw-medium text-secondary">Follow Us</span>
        </div><!-- /.slideshow-social-follow -->
        <a href="#section-collections-grid_masonry" class="slideshow-scroll d-none d-xxl-block position-absolute end-0 bottom-0 text_dash text-uppercase fw-medium">Scroll</a>
    </section><!-- /.slideshow -->

    <div class="mb-5 pb-5"></div>
    <div class="pb-1"></div>


    <div class="mb-4 pb-4 mb-xl-5 pb-xl-5"></div>

    @await Component.InvokeAsync("TrendyProductsVC");


    <div class="mb-5 pb-1 pb-xl-5"></div>


  

    <div class="mb-5 pb-1 pb-xl-5"></div>


  


    <div class="mb-5 pb-1 pb-xl-4"></div>


    <section class="products-carousel container">
        <h2 class="section-title text-uppercase text-center mb-4 pb-xl-2 mb-xl-4">Limited <strong>Edition</strong></h2>

        <div class="position-relative">
            <div class="swiper-container js-swiper-slider"
                 data-settings='{
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": 4,
            "slidesPerGroup": 4,
            "effect": "none",
            "loop": true,
            "pagination": {
              "el": ".products-pagination",
              "type": "bullets",
              "clickable": true
            },
            "navigation": {
              "nextEl": ".products-carousel__next",
              "prevEl": ".products-carousel__prev"
            },
            "breakpoints": {
              "320": {
                "slidesPerView": 2,
                "slidesPerGroup": 2,
                "spaceBetween": 14
              },
              "768": {
                "slidesPerView": 3,
                "slidesPerGroup": 3,
                "spaceBetween": 24
              },
              "992": {
                "slidesPerView": 4,
                "slidesPerGroup": 1,
                "spaceBetween": 30,
                "pagination": false
              }
            }
          }'>
                <div class="swiper-wrapper">
                    @foreach (var item in Model)
                    {
                        <div class="swiper-slide product-card">
                            <div class="pc__img-wrapper">
                                <a asp-controller="Shop" asp-action="ProductDetails" asp-route-id="@item.Id">
                                    <img loading="lazy" src="~/images/products/@item.Images[0].ImageUrl" width="330" height="400" alt="Cropped Faux leather Jacket" class="pc__img">
                                </a>
                                <a asp-controller="Shop" asp-action="ProductDetails" asp-route-id="@item.Id" class="pc__atc btn anim_appear-bottom btn position-absolute border-0 text-uppercase fw-medium" title="Details" data-product-id="@item.Id">Details</a>
                            </div>

                            <div class="pc__info position-relative">
                                <p class="pc__category">@item.Category.Name</p>
                                <h6 class="pc__title">@item.Name</h6>
                                <div class="product-card__price d-flex">
                                    <span class="money price">$@item.Price</span>
                                </div>

                                <button class="pc__btn-wl position-absolute top-0 end-0 bg-transparent border-0 js-add-wishlist" title="Add To Wishlist">
                                    <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_heart" /></svg>
                                </button>
                            </div>
                        </div>
                    }

                </div><!-- /.swiper-wrapper -->
            </div><!-- /.swiper-container js-swiper-slider -->

            <div class="products-carousel__prev position-absolute top-50 d-flex align-items-center justify-content-center">
                <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_md" /></svg>
            </div><!-- /.products-carousel__prev -->
            <div class="products-carousel__next position-absolute top-50 d-flex align-items-center justify-content-center">
                <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_md" /></svg>
            </div><!-- /.products-carousel__next -->

            <div class="products-pagination mt-4 mb-5 d-flex align-items-center justify-content-center"></div>
            <!-- /.products-pagination -->
        </div><!-- /.position-relative -->

    </section><!-- /.products-carousel container -->

    <section class="instagram container">
        <h2 class="section-title text-uppercase text-center mb-4 pb-xl-2 mb-xl-4">UOMO</strong></h2>

        <div class="row row-cols-3 row-cols-md-4 row-cols-xl-6">
            <div class="instagram__tile">
                <a href="https://instagram.com/" target="_blank" class="position-relative overflow-hidden d-block effect overlay-plus">
                    <img loading="lazy" class="instagram__img" src="~/Site/images/instagram/insta1.jpg" width="230" height="230" alt="Insta image 1">
                </a>
            </div>
            <div class="instagram__tile">
                <a href="https://instagram.com/" target="_blank" class="position-relative overflow-hidden d-block effect overlay-plus">
                    <img loading="lazy" class="instagram__img" src="~/Site/images/instagram/insta2.jpg" width="230" height="230" alt="Insta image 2">
                </a>
            </div>
            <div class="instagram__tile">
                <a href="https://instagram.com/" target="_blank" class="position-relative overflow-hidden d-block effect overlay-plus">
                    <img loading="lazy" class="instagram__img" src="~/Site/images/instagram/insta3.jpg" width="230" height="230" alt="Insta image 3">
                </a>
            </div>
            <div class="instagram__tile">
                <a href="https://instagram.com/" target="_blank" class="position-relative overflow-hidden d-block effect overlay-plus">
                    <img loading="lazy" class="instagram__img" src="~/Site/images/instagram/insta4.jpg" width="230" height="230" alt="Insta image 4">
                </a>
            </div>
            <div class="instagram__tile">
                <a href="https://instagram.com/" target="_blank" class="position-relative overflow-hidden d-block effect overlay-plus">
                    <img loading="lazy" class="instagram__img" src="~/Site/images/instagram/insta5.jpg" width="230" height="230" alt="Insta image 5">
                </a>
            </div>
            <div class="instagram__tile">
                <a href="https://instagram.com/" target="_blank" class="position-relative overflow-hidden d-block effect overlay-plus">
                    <img loading="lazy" class="instagram__img" src="~/Site/images/instagram/insta6.jpg" width="230" height="230" alt="Insta image 6">
                </a>
            </div>
            <div class="instagram__tile">
                <a href="https://instagram.com/" target="_blank" class="position-relative overflow-hidden d-block effect overlay-plus">
                    <img loading="lazy" class="instagram__img" src="~/Site/images/instagram/insta7.jpg" width="230" height="230" alt="Insta image 7">
                </a>
            </div>
            <div class="instagram__tile">
                <a href="https://instagram.com/" target="_blank" class="position-relative overflow-hidden d-block effect overlay-plus">
                    <img loading="lazy" class="instagram__img" src="~/Site/images/instagram/insta8.jpg" width="230" height="230" alt="Insta image 8">
                </a>
            </div>
            <div class="instagram__tile">
                <a href="https://instagram.com/" target="_blank" class="position-relative overflow-hidden d-block effect overlay-plus">
                    <img loading="lazy" class="instagram__img" src="~/Site/images/instagram/insta9.jpg" width="230" height="230" alt="Insta image 9">
                </a>
            </div>
            <div class="instagram__tile">
                <a href="https://instagram.com/" target="_blank" class="position-relative overflow-hidden d-block effect overlay-plus">
                    <img loading="lazy" class="instagram__img" src="~/Site/images/instagram/insta10.jpg" width="230" height="230" alt="Insta image 10">
                </a>
            </div>
            <div class="instagram__tile">
                <a href="https://instagram.com/" target="_blank" class="position-relative overflow-hidden d-block effect overlay-plus">
                    <img loading="lazy" class="instagram__img" src="~/Site/images/instagram/insta11.jpg" width="230" height="230" alt="Insta image 11">
                </a>
            </div>
            <div class="instagram__tile">
                <a href="https://instagram.com/" target="_blank" class="position-relative overflow-hidden d-block effect overlay-plus">
                    <img loading="lazy" class="instagram__img" src="~/Site/images/instagram/insta12.jpg" width="230" height="230" alt="Insta image 12">
                </a>
            </div>
        </div>
    </section><!-- /.instagram container -->


    <div class="mb-4 pb-4 pb-xl-5 mb-xl-5"></div>


    <section class="service-promotion container mb-md-4 pb-md-4 mb-xl-5">
        <div class="row">
            <div class="col-md-4 text-center mb-5 mb-md-0">
                <div class="service-promotion__icon mb-4">
                    <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_shipping" /></svg>
                </div>
                <h3 class="service-promotion__title h5 text-uppercase">Fast And Free Delivery</h3>
                <p class="service-promotion__content text-secondary">Free delivery for all orders over $140</p>
            </div><!-- /.col-md-4 text-center-->

            <div class="col-md-4 text-center mb-5 mb-md-0">
                <div class="service-promotion__icon mb-4">
                    <svg width="53" height="52" viewBox="0 0 53 52" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_headphone" /></svg>
                </div>
                <h3 class="service-promotion__title h5 text-uppercase">24/7 Customer Support</h3>
                <p class="service-promotion__content text-secondary">Friendly 24/7 customer support</p>
            </div><!-- /.col-md-4 text-center-->

            <div class="col-md-4 text-center mb-4 pb-1 mb-md-0">
                <div class="service-promotion__icon mb-4">
                    <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_shield" /></svg>
                </div>
                <h3 class="service-promotion__title h5 text-uppercase">Money Back Guarantee</h3>
                <p class="service-promotion__content text-secondary">We return money within 30 days</p>
            </div><!-- /.col-md-4 text-center-->
        </div><!-- /.row -->
    </section><!-- /.service-promotion container -->
</main>