@model CartViewModel
<div class="aside aside_right overflow-hidden cart-drawer" id="cartDrawer">
    <div id="cart-drawer">
        <div class="aside-header d-flex align-items-center">
            <h3 class="text-uppercase fs-6 mb-0">SHOPPING BAG</h3>
            <button class="btn-close-lg js-close-aside btn-close-aside ms-auto"></button>
        </div><!-- /.aside-header -->

        <div class="aside-content cart-drawer-items-list">
            @foreach (var item in Model.CartItems)
            {
                <div class="cart-drawer-item d-flex position-relative" id="cartCon">
                    <div class="position-relative">
                        <img loading="lazy" class="cart-drawer-item__img" src="~/images/products/@item.ImageUrl" />
                    </div>
                    <div class="cart-drawer-item__info flex-grow-1">
                        <h6 class="cart-drawer-item__title fw-normal">@item.ProductName</h6>
                        <p class="cart-drawer-item__option text-secondary">Color: @item.Color</p>
                        <p class="cart-drawer-item__option text-secondary">Size: @item.Size</p>
                        <div class="d-flex align-items-center justify-content-between mt-1">
                            <div class="qty-control position-relative">
                                <input type="number" name="quantity" value="@item.Quantity" min="1" class="qty-control__number border-0 text-center">
                                <div class="qty-control__reduce text-start minus" data-product-id="@item.ProductId">-</div>
                                <div class="qty-control__increase text-end plus" data-product-id="@item.ProductId">+</div>
                            </div><!-- .qty-control -->
                            <span class="cart-drawer-item__price money price">$@item.Total</span>
                        </div>
                    </div>

                    <button class="btn-close-xs position-absolute top-0 end-0 js-cart-item-remove x-remove" data-product-id="@item.ProductId"></button>
                </div>

                <!-- /.cart-drawer-item d-flex -->

                <hr class="cart-drawer-divider" />
            }
        </div>

        <div class="cart-drawer-actions position-absolute start-0 bottom-0 w-100">
            <hr class="cart-drawer-divider" />
            <div class="d-flex justify-content-between">
                <h6 class="fs-base fw-medium">SUBTOTAL:</h6>
                <span class="cart-subtotal fw-medium">$@Model.GrandTotal</span>
            </div><!-- /.d-flex justify-content-between -->
            <a asp-controller="Cart" asp-action="ShopCart" class="btn btn-light mt-3 d-block">View Cart</a>
            <a asp-controller="CheckOut" asp-action="Billing" class="btn btn-primary mt-3 d-block">Checkout</a>
        </div><!-- /.aside-content -->
    </div>
</div>   