@model ShopViewModel
<main id="shop">
    <section class="shop-main container d-flex pt-4 pt-xl-5">
        <div class="shop-sidebar side-sticky bg-body" id="shopFilter">
            <div class="aside-header d-flex d-lg-none align-items-center">
                <h3 class="text-uppercase fs-6 mb-0">Filter By</h3>
                <button class="btn-close-lg js-close-aside btn-close-aside ms-auto"></button>
            </div><!-- /.aside-header -->

            <div class="pt-4 pt-lg-0"></div>

            <div class="accordion" id="categories-list">
                <div class="accordion-item mb-4 pb-3">
                    <h5 class="accordion-header" id="accordion-heading-1">
                        <button class="accordion-button p-0 border-0 fs-5 text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-filter-1" aria-expanded="true" aria-controls="accordion-filter-1">
                            Product Categories
                            <svg class="accordion-button__icon type2" viewBox="0 0 10 6" xmlns="http://www.w3.org/2000/svg">
                                <g aria-hidden="true" stroke="none" fill-rule="evenodd">
                                    <path d="M5.35668 0.159286C5.16235 -0.053094 4.83769 -0.0530941 4.64287 0.159286L0.147611 5.05963C-0.0492049 5.27473 -0.049205 5.62357 0.147611 5.83813C0.344427 6.05323 0.664108 6.05323 0.860924 5.83813L5 1.32706L9.13858 5.83867C9.33589 6.05378 9.65507 6.05378 9.85239 5.83867C10.0492 5.62357 10.0492 5.27473 9.85239 5.06018L5.35668 0.159286Z" />
                                </g>
                            </svg>
                        </button>
                    </h5>
                    <div id="accordion-filter-1" class="accordion-collapse collapse show border-0" aria-labelledby="accordion-heading-1" data-bs-parent="#categories-list">
                        <div class="accordion-body px-0 pb-0 pt-3">
                            <ul class="list list-inline mb-0">
                                @foreach (var item in Model.Categories)
                                {
                                    <li class="list-item">
                                        <div class="menu-link py-1 ctg" data-id="@item.Id">@item.Name</div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div><!-- /.accordion-item -->
            </div><!-- /.accordion-item -->


            <div class="accordion" id="color-filters">
                <div class="accordion-item mb-4 pb-3">
                    <h5 class="accordion-header" id="accordion-heading-1">
                        <button class="accordion-button p-0 border-0 fs-5 text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-filter-2" aria-expanded="true" aria-controls="accordion-filter-2">
                            Color
                            <svg class="accordion-button__icon type2" viewBox="0 0 10 6" xmlns="http://www.w3.org/2000/svg">
                                <g aria-hidden="true" stroke="none" fill-rule="evenodd">
                                    <path d="M5.35668 0.159286C5.16235 -0.053094 4.83769 -0.0530941 4.64287 0.159286L0.147611 5.05963C-0.0492049 5.27473 -0.049205 5.62357 0.147611 5.83813C0.344427 6.05323 0.664108 6.05323 0.860924 5.83813L5 1.32706L9.13858 5.83867C9.33589 6.05378 9.65507 6.05378 9.85239 5.83867C10.0492 5.62357 10.0492 5.27473 9.85239 5.06018L5.35668 0.159286Z" />
                                </g>
                            </svg>
                        </button>
                    </h5>
                    <div id="accordion-filter-2" class="accordion-collapse collapse show border-0" aria-labelledby="accordion-heading-1" data-bs-parent="#color-filters">
                        <div class="accordion-body px-0 pb-0">
                            <div class="d-flex flex-wrap">
                                @foreach (var item in Model.Colors)
                                {
                                    <div class="swatch-color js-filter colors" style="color:@item.Code" data-color-id="@item.Id"> </div>
                                }

                            </div>
                        </div>
                    </div>
                </div><!-- /.accordion-item -->
            </div><!-- /.accordion -->


            <div class="accordion" id="size-filters">
                <div class="accordion-item mb-4 pb-3">
                    <h5 class="accordion-header" id="accordion-heading-size">
                        <button class="accordion-button p-0 border-0 fs-5 text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-filter-size" aria-expanded="true" aria-controls="accordion-filter-size">
                            Sizes
                            <svg class="accordion-button__icon type2" viewBox="0 0 10 6" xmlns="http://www.w3.org/2000/svg">
                                <g aria-hidden="true" stroke="none" fill-rule="evenodd">
                                    <path d="M5.35668 0.159286C5.16235 -0.053094 4.83769 -0.0530941 4.64287 0.159286L0.147611 5.05963C-0.0492049 5.27473 -0.049205 5.62357 0.147611 5.83813C0.344427 6.05323 0.664108 6.05323 0.860924 5.83813L5 1.32706L9.13858 5.83867C9.33589 6.05378 9.65507 6.05378 9.85239 5.83867C10.0492 5.62357 10.0492 5.27473 9.85239 5.06018L5.35668 0.159286Z" />
                                </g>
                            </svg>
                        </button>
                    </h5>
                    <div id="accordion-filter-size" class="accordion-collapse collapse show border-0" aria-labelledby="accordion-heading-size" data-bs-parent="#size-filters">
                        <div class="accordion-body px-0 pb-0">
                            <div class="d-flex flex-wrap">
                                @foreach (var item in Model.Sizes)
                                {
                                    <div class="swatch-size btn btn-sm btn-outline-light mb-3 me-3 js-filter" data-size-id="@item.Id">@item.Name</div>
                                }
                            </div>
                        </div>
                    </div>
                </div><!-- /.accordion-item -->
            </div><!-- /.accordion -->




            <div class="accordion" id="price-filters">
                <div class="accordion-item mb-4">
                    <h5 class="accordion-header mb-2" id="accordion-heading-price">
                        <button class="accordion-button p-0 border-0 fs-5 text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-filter-price" aria-expanded="true" aria-controls="accordion-filter-price">
                            Price
                            <svg class="accordion-button__icon type2" viewBox="0 0 10 6" xmlns="http://www.w3.org/2000/svg">
                                <g aria-hidden="true" stroke="none" fill-rule="evenodd">
                                    <path d="M5.35668 0.159286C5.16235 -0.053094 4.83769 -0.0530941 4.64287 0.159286L0.147611 5.05963C-0.0492049 5.27473 -0.049205 5.62357 0.147611 5.83813C0.344427 6.05323 0.664108 6.05323 0.860924 5.83813L5 1.32706L9.13858 5.83867C9.33589 6.05378 9.65507 6.05378 9.85239 5.83867C10.0492 5.62357 10.0492 5.27473 9.85239 5.06018L5.35668 0.159286Z" />
                                </g>
                            </svg>
                        </button>
                    </h5>
                    <div id="accordion-filter-price" class="accordion-collapse collapse show border-0" aria-labelledby="accordion-heading-price" data-bs-parent="#price-filters">
                        <input class="price-range-slider" type="text" value="" data-slider-min="0" data-slider-max="@Model.MaxPrice" data-slider-step="5" data-slider-value="[0,@Model.MaxPrice]" data-currency="$" />
                        <div class="price-range__info d-flex align-items-center mt-2">
                            <div class="me-auto">
                                <span class="text-secondary">Min Price: </span>
                                <span class="price-range__min">$0</span>
                            </div>
                            <div>
                                <span class="text-secondary">Max Price: </span>
                                <span class="price-range__max">$@Model.MaxPrice</span>
                            </div>
                        </div>
                    </div>
                </div><!-- /.accordion-item -->
            </div><!-- /.accordion -->
        </div><!-- /.shop-sidebar -->

        <div class="shop-list flex-grow-1">
            <div class="d-flex justify-content-between mb-4 pb-md-2">
                <div class="breadcrumb mb-0 d-none d-md-block flex-grow-1">
                    <a asp-controller="Home" asp-action="Index" class="menu-link menu-link_us-s text-uppercase fw-medium">Home</a>
                    <span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1">/</span>
                    <a asp-controller="Shop" asp-action="GetProducts" class="menu-link menu-link_us-s text-uppercase fw-medium">The Shop</a>
                </div><!-- /.breadcrumb -->
                @*  <div class="shop-acs d-flex align-items-center justify-content-between justify-content-md-end flex-grow-1">
                <select class="shop-acs__select form-select w-auto border-0 py-0 order-1 order-md-0" aria-label="Sort Items" name="total-number">
                <option selected>Default Sorting</option>
                <option value="1">Featured</option>
                <option value="2">Best selling</option>
                <option value="3">Alphabetically, A-Z</option>
                <option value="3">Alphabetically, Z-A</option>
                <option value="3">Price, low to high</option>
                <option value="3">Price, high to low</option>
                <option value="3">Date, old to new</option>
                <option value="3">Date, new to old</option>
                </select>

                <div class="shop-asc__seprator mx-3 bg-light d-none d-md-block order-md-0"></div>

                <div class="col-size align-items-center order-1 d-none d-lg-flex">
                <span class="text-uppercase fw-medium me-2">View</span>
                <button class="btn-link fw-medium me-2 js-cols-size" data-target="products-grid" data-cols="2">2</button>
                <button class="btn-link fw-medium me-2 js-cols-size" data-target="products-grid" data-cols="3">3</button>
                <button class="btn-link fw-medium js-cols-size" data-target="products-grid" data-cols="4">4</button>
                </div><!-- /.col-size -->

                <div class="shop-filter d-flex align-items-center order-0 order-md-3 d-lg-none">
                <button class="btn-link btn-link_f d-flex align-items-center ps-0 js-open-aside" data-aside="shopFilter">
                <svg class="d-inline-block align-middle me-2" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_filter" /></svg>
                <span class="text-uppercase fw-medium d-inline-block align-middle">Filter</span>
                </button>
                </div><!-- /.col-size d-flex align-items-center ms-auto ms-md-3 -->
                </div><!-- /.shop-a *@
            </div><!-- /.d-flex justify-content-between -->

            <div class="products-grid row row-cols-2 row-cols-md-3" id="products-grid">
                @foreach (var item in Model.Products)
                {
                    <div class="product-card-wrapper">
                        <div class="product-card mb-3 mb-md-4 mb-xxl-5">
                            <div class="pc__img-wrapper">
                                <div class="swiper-container background-img js-swiper-slider" data-settings='{"resizeObserver": true}'>
                                    <div class="swiper-wrapper">
                                        @foreach (var img in item.Images)
                                        {
                                            <div class="swiper-slide">
                                                <a asp-controller="Shop" asp-action="ProductDetails" asp-route-id="@item.Id"><img loading="lazy" src="~/images/products/@img.ImageUrl" width="330" height="400" alt="Cropped Faux leather Jacket" class="pc__img"></a>
                                            </div>
                                        }
                                    </div>
                                    <span class="pc__img-prev"><svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_sm" /></svg></span>
                                    <span class="pc__img-next"><svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_sm" /></svg></span>
                                </div>
                                <a asp-controller="Shop" asp-action="ProductDetails" asp-route-id="@item.Id" class="pc__atc btn anim_appear-bottom btn position-absolute border-0 text-uppercase fw-medium" title="Details" data-product-id="@item.Id">Details</a>
                            </div>

                            <div class="pc__info position-relative">
                                <p class="pc__category">@item.Category.Name</p>
                                <h6 class="pc__title">@item.Name</h6>
                                <div class="product-card__price d-flex">
                                    <span class="money price">$@item.Price</span>
                                </div>

                                <button class="pc__btn-wl position-absolute top-0 end-0 bg-transparent border-0 js-add-wishlist" title="Add To Wishlist" onclick="Add(@item.Id)">
                                    <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_heart" /></svg>
                                </button>
                            </div>
                        </div>
                    </div>
                }


            </div><!-- /.products-grid row -->
            <nav class="shop-pages d-flex justify-content-between mt-3" aria-label="Page navigation">
                <div>
                    @if (Model.HasPreviousPage)
                    {
                        <a href="?page=@(Model.Products.PageNumber - 1)" class="btn-link d-inline-flex align-items-center">
                            <svg class="me-1" width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_sm" /></svg>
                            <span class="fw-medium">PREV</span>
                        </a>
                    }
                </div>
                <ul class="pagination mb-0 justify-content-center">
                    @for (var i = 1; i <= Model.Products.PageCount; i++)
                    {
                        <li class="page-item">
                            <a class="btn-link px-1 mx-2 @(i ==Model.Products.PageNumber ? "btn-link_active" : "")" href="@Url.Action("GetProducts", "Shop", new { page = i })">@i</a>
                        </li>
                    }
                </ul>
                <div>
                    @if (Model.HasNextPage)
                    {
                        <a href="?page=@(Model.Products.PageNumber + 1)" class="btn-link d-inline-flex align-items-center">
                            <span class="fw-medium me-1">NEXT</span>
                            <svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_sm" /></svg>
                        </a>
                    }
                </div>
            </nav>

        </div>
    </section><!-- /.shop-main container -->
</main>



@section Scripts {

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="~/js/Session.js"></script>
    <script>
        $(document).ready(function () {
            var CategoryIds = [];
            var ColorIds = [];
            var SizeIds = [];
            var min = 0;
            var max = 0;

            $('.ctg').on('click', function () {
                var categoryId = $(this).data('id');

                if ($(this).hasClass('selected')) {
                    $(this).css('color', '');
                    $(this).removeClass('selected');
                    CategoryIds = CategoryIds.filter(function (id) {
                        return id !== categoryId;
                    });
                } else {
                    $(this).css('color', 'red');
                    $(this).addClass('selected');
                    CategoryIds.push(categoryId);
                }
                Filter(CategoryIds, ColorIds, SizeIds, min, max);
            });


            $('.swatch-color').on('click', function () {
                var colorId = $(this).data('color-id');

                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    ColorIds = ColorIds.filter(function (id) {
                        return id !== colorId;
                    });
                } else {
                    $(this).addClass('selected');
                    ColorIds.push(colorId);
                }
                Filter(CategoryIds, ColorIds, SizeIds, min, max);
            });

            $('.swatch-size').on('click', function () {
                var sizeId = $(this).data('size-id');

                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    SizeIds = SizeIds.filter(function (id) {
                        return id !== sizeId;
                    });
                } else {
                    $(this).addClass('selected');
                    SizeIds.push(sizeId);
                }
                Filter(CategoryIds, ColorIds, SizeIds, min, max);
            });
            $('.slider').on('click', function () {
                min = parseInt($('.price-range__min').text().replace('$', ''), 10);
                max = parseInt($('.price-range__max').text().replace('$', ''), 10);
                Filter(CategoryIds, ColorIds, SizeIds, min, max);
            })
        });

        function Filter(CategoryIds, ColorIds, SizeIds, Min, Max) {
            $.ajax({
                url: "/Shop/GetProducts",
                type: 'post',
                dataType: 'html',
                data: {
                    ctgIds: CategoryIds,
                    colorIds: ColorIds,
                    sizeIds: SizeIds,
                    min: Min,
                    max: Max
                },
                success: function (response) {
                    $('#products-grid').html(response);
                },
                error: function (error) {
                    alert(error);
                }
            });
        }


    </script>

}
