@model ProductDetailsVM
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
<main id="details">

    <div class="mb-md-1 pb-md-3"></div>
    <section class="product-single container" id="detailSection">
        <div class="row">
            <div class="col-lg-7">
                <div class="product-single__media" data-media-type="vertical-thumbnail">
                    <div class="product-single__image">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                @foreach (var img in Model.Product.Images)
                                {
                                    <div class="swiper-slide product-single__image-item">
                                        <img loading="lazy" class="h-auto" src="~/images/products/@img.ImageUrl" width="674" height="674" alt="" />
                                        <a data-fancybox="gallery" href="../images/products/product_0.jpg" data-bs-toggle="tooltip" data-bs-placement="left" title="Zoom">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_zoom" /></svg>
                                        </a>
                                    </div>
                                }
                            </div>
                            <div class="swiper-button-prev"><svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_sm" /></svg></div>
                            <div class="swiper-button-next"><svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_sm" /></svg></div>
                        </div>
                    </div>
                    <div class="product-single__thumbnail">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                @foreach (var img in Model.Product.Images)
                                {
                                    <div class="swiper-slide product-single__image-item"><img loading="lazy" class="h-auto" src="~/images/products/@img.ImageUrl" width="104" height="104" alt="" /></div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="d-flex justify-content-between mb-4 pb-md-2">
                    <div class="breadcrumb mb-0 d-none d-md-block flex-grow-1">
                        <a asp-controller="Home" asp-action="Index" class="menu-link menu-link_us-s text-uppercase fw-medium">Home</a>
                        <span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1">/</span>
                        <a asp-controller="Shop" asp-action="GetProducts" class="menu-link menu-link_us-s text-uppercase fw-medium">The Shop</a>
                    </div><!-- /.breadcrumb -->

                    <div class="product-single__prev-next d-flex align-items-center justify-content-between justify-content-md-end flex-grow-1">
                        @if (Model.PreviousProductId != null)
                        {
                            <a asp-controller="Shop" asp-action="ProductDetails" asp-route-id="@Model.PreviousProductId" class="text-uppercase fw-medium"><svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_md" /></svg><span class="menu-link menu-link_us-s">Prev</span></a>
                        }
                        @if (Model.NextProductId != null)
                        {
                            <a asp-controller="Shop" asp-action="ProductDetails" asp-route-id="@Model.NextProductId" class="text-uppercase fw-medium"><span class="menu-link menu-link_us-s">Next</span><svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_md" /></svg></a>
                        }
                    </div><!-- /.shop-acs -->
                </div>
                <h1 class="product-single__name">@Model.Product.Name</h1>
                <div class="product-single__rating">
                    <div class="reviews-group d-flex" style="align-items:center">
                        @Math.Round(Model.Rating, 1) 
                        @for (int i = 1; i <= Model.Rating; i++)
                        {
                            <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                        }
                    </div>
                    <span class="reviews-note text-lowercase text-secondary ms-1" id="reviewCount">@Model.ReviewCount reviews</span>
                </div>
                <div class="product-single__price">
                    <span class="current-price">$@Model.Product.Price</span>
                </div>
                <form name="addtocart-form" method="post" asp-controller="Cart" asp-action="Add">
                    <input type="hidden" asp-for="CartItem.ProductId" value="@Model.Product.Id" />
                    <div class="product-single__swatches">
                        <div class="product-swatch text-swatches">
                            <label>Sizes</label>
                            <div class="swatch-list">
                                @foreach (var item in Model.Product.ProductSizes)
                                {
                                    <input type="radio" asp-for="CartItem.Size" value="@item.Size.Name" id="@($"swatch-{item.SizeId+100}")" required>
                                    <label class="swatch js-swatch" asp-for="CartItem.Size" for="@($"swatch-{item.SizeId+100}")" aria-label="@item.Size.Name" data-bs-toggle="tooltip" data-bs-placement="top" title="@item.Size.Name">@item.Size.Name</label>
                                }
                            </div>
                            <a href="#" class="sizeguide-link" data-bs-toggle="modal" data-bs-target="#sizeGuide">Size Guide</a>
                        </div>
                        <div class="product-swatch color-swatches">
                            <label>Color</label>
                            <div class="swatch-list">
                                @foreach (var item in Model.Product.ProductColors)
                                {
                                    <input type="radio" asp-for="CartItem.Color" value="@item.Color.Name" id="@($"swatch-{item.ColorId}")" required>
                                    <label class="swatch swatch-color js-swatch" for="@($"swatch-{item.ColorId}")" aria-label="@item.Color.Name" data-bs-toggle="tooltip" data-bs-placement="top" title="@item.Color.Name" style="color:@item.Color.Code"></label>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="product-single__addtocart">
                        <div class="qty-control position-relative">
                            <input type="number" asp-for="CartItem.Quantity" value="1" min="1" class="qty-control__number text-center">
                            <div class="qty-control__reduce">-</div>
                            <div class="qty-control__increase">+</div>
                        </div><!-- .qty-control -->
                        <button type="submit" class="btn btn-primary add" data-aside="cartDrawer">Add to Cart</button>
                    </div>
                </form>
                <div class="product-single__addtolinks">
                    <a href="#" class="menu-link menu-link_us-s add-to-wishlist"><svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_heart" /></svg><span>Add to Wishlist</span></a>
                    <share-button class="share-button">
                        <button class="menu-link menu-link_us-s to-share border-0 bg-transparent d-flex align-items-center">
                            <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_sharing" /></svg>
                            <span>Share</span>
                        </button>
                        <details id="Details-share-template__main" class="m-1 xl:m-1.5" hidden="">
                            <summary class="btn-solid m-1 xl:m-1.5 pt-3.5 pb-3 px-5">+</summary>
                            <div id="Article-share-template__main" class="share-button__fallback flex items-center absolute top-full left-0 w-full px-2 py-4 bg-container shadow-theme border-t z-10">
                                <div class="field grow mr-4">
                                    <label class="field__label sr-only" for="url">Link</label>
                                    <input type="text" class="field__input w-full" id="url" value="https://uomo-crystal.myshopify.com/blogs/news/go-to-wellness-tips-for-mental-health" placeholder="Link" onclick="this.select();" readonly="">
                                </div>
                                <button class="share-button__copy no-js-hidden">
                                    <svg class="icon icon-clipboard inline-block mr-1" width="11" height="13" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" viewBox="0 0 11 13">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 1a1 1 0 011-1h7a1 1 0 011 1v9a1 1 0 01-1 1V1H2zM1 2a1 1 0 00-1 1v9a1 1 0 001 1h7a1 1 0 001-1V3a1 1 0 00-1-1H1zm0 10V3h7v9H1z" fill="currentColor"></path>
                                    </svg>
                                    <span class="sr-only">Copy link</span>
                                </button>
                            </div>
                        </details>
                    </share-button>
                    <script src="js/details-disclosure.js" defer="defer"></script>
                    <script src="js/share.js" defer="defer"></script>
                </div>
            </div>
        </div>
        <div class="product-single__details-tab">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link nav-link_underscore active" id="tab-description-tab" data-bs-toggle="tab" href="#tab-description" role="tab" aria-controls="tab-description" aria-selected="true">Description</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link nav-link_underscore" id="tab-additional-info-tab" data-bs-toggle="tab" href="#tab-additional-info" role="tab" aria-controls="tab-additional-info" aria-selected="false">Additional Information</a>
                </li>
                <li class="nav-item" role="presentation" id="n-r">
                    <a class="nav-link nav-link_underscore n-r-item" id="tab-reviews-tab" data-bs-toggle="tab" href="#tab-reviews" role="tab" aria-controls="tab-reviews" aria-selected="false">Reviews</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-description" role="tabpanel" aria-labelledby="tab-description-tab">
                    <div class="product-single__description">
                        <h3 class="block-title mb-4">Sed do eiusmod tempor incididunt ut labore</h3>
                        <p class="content"> @Model.Product.Description </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="block-title">Why choose product?</h3>
                                <ul class="list text-list">
                                    <li>Creat by cotton fibric with soft and smooth</li>
                                    <li>Simple, Configurable (e.g. size, color, etc.), bundled</li>
                                    <li>Downloadable/Digital Products, Virtual Products</li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h3 class="block-title">Sample Number List</h3>
                                <ol class="list text-list">
                                    <li>Create Store-specific attrittbutes on the fly</li>
                                    <li>Simple, Configurable (e.g. size, color, etc.), bundled</li>
                                    <li>Downloadable/Digital Products, Virtual Products</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-additional-info" role="tabpanel" aria-labelledby="tab-additional-info-tab">
                    <div class="product-single__addtional-info">
                        @foreach (var attribut in Model.Product.Attributes)
                        {
                            <div class="item">
                                <label class="h6">@attribut.Name</label>
                                <span>@attribut.Value</span>
                            </div>
                        }
                        <div class="item">
                            <label class="h6">Size</label>
                            <span>
                                @foreach (var item in Model.Product.ProductSizes)
                                {
                                    @item.Size.Name
                                }
                            </span>
                        </div>
                        <div class="item">
                            <label class="h6">Color</label>
                            <span>
                                @foreach (var item in Model.Product.ProductColors)
                                {
                                    @item.Color.Name
                                }
                            </span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-reviews" role="tabpanel" aria-labelledby="tab-reviews-tab">
                    <div id="list-form">
                        <h2 class="product-single__reviews-title">Reviews(@Model.Reviews.Count)</h2>
                        <div class="product-single__reviews-list" id="reviews">
                            @foreach (var item in Model.Reviews)
                            {
                                <div class="product-single__reviews-item">
                                    <div class="customer-review">
                                        <div class="customer-name">
                                            <h6>@item.User.UserName</h6>
                                            <div class="reviews-group d-flex" style="margin-left:30px;">
                                                @for (int i = 0; i < item.Rating; i++)
                                                {
                                                    <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                                                }
                                            </div>
                                        </div>
                                        <div class="review-date">@item.Date.ToString("dd MMMM, yyyy")</div>
                                        <div class="review-text">
                                            <p> @item.Comment</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="product-single__review-form">
                                <form id="customer-review-form" method="post">
                                    <input type="hidden" asp-for="Review.ProductId" value="@Model.Product.Id" />
                                    <input type="hidden" asp-for="Review.UserId" value="@Model.Review.UserId" />

                                    <div class="select-star-rating">
                                        <label>Your rating *</label>
                                        <span class="star-rating">
                                            <svg class="star-rating__star-icon" width="12" height="12" fill="#ccc" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11.1429 5.04687C11.1429 4.84598 10.9286 4.76562 10.7679 4.73884L7.40625 4.25L5.89955 1.20312C5.83929 1.07589 5.72545 0.928571 5.57143 0.928571C5.41741 0.928571 5.30357 1.07589 5.2433 1.20312L3.73661 4.25L0.375 4.73884C0.207589 4.76562 0 4.84598 0 5.04687C0 5.16741 0.0870536 5.28125 0.167411 5.3683L2.60491 7.73884L2.02902 11.0871C2.02232 11.1339 2.01563 11.1741 2.01563 11.221C2.01563 11.3951 2.10268 11.5558 2.29688 11.5558C2.39063 11.5558 2.47768 11.5223 2.56473 11.4754L5.57143 9.89509L8.57813 11.4754C8.65848 11.5223 8.75223 11.5558 8.84598 11.5558C9.04018 11.5558 9.12054 11.3951 9.12054 11.221C9.12054 11.1741 9.12054 11.1339 9.11384 11.0871L8.53795 7.73884L10.9688 5.3683C11.0558 5.28125 11.1429 5.16741 11.1429 5.04687Z" />
                                            </svg>
                                            <svg class="star-rating__star-icon" width="12" height="12" fill="#ccc" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11.1429 5.04687C11.1429 4.84598 10.9286 4.76562 10.7679 4.73884L7.40625 4.25L5.89955 1.20312C5.83929 1.07589 5.72545 0.928571 5.57143 0.928571C5.41741 0.928571 5.30357 1.07589 5.2433 1.20312L3.73661 4.25L0.375 4.73884C0.207589 4.76562 0 4.84598 0 5.04687C0 5.16741 0.0870536 5.28125 0.167411 5.3683L2.60491 7.73884L2.02902 11.0871C2.02232 11.1339 2.01563 11.1741 2.01563 11.221C2.01563 11.3951 2.10268 11.5558 2.29688 11.5558C2.39063 11.5558 2.47768 11.5223 2.56473 11.4754L5.57143 9.89509L8.57813 11.4754C8.65848 11.5223 8.75223 11.5558 8.84598 11.5558C9.04018 11.5558 9.12054 11.3951 9.12054 11.221C9.12054 11.1741 9.12054 11.1339 9.11384 11.0871L8.53795 7.73884L10.9688 5.3683C11.0558 5.28125 11.1429 5.16741 11.1429 5.04687Z" />
                                            </svg>
                                            <svg class="star-rating__star-icon" width="12" height="12" fill="#ccc" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11.1429 5.04687C11.1429 4.84598 10.9286 4.76562 10.7679 4.73884L7.40625 4.25L5.89955 1.20312C5.83929 1.07589 5.72545 0.928571 5.57143 0.928571C5.41741 0.928571 5.30357 1.07589 5.2433 1.20312L3.73661 4.25L0.375 4.73884C0.207589 4.76562 0 4.84598 0 5.04687C0 5.16741 0.0870536 5.28125 0.167411 5.3683L2.60491 7.73884L2.02902 11.0871C2.02232 11.1339 2.01563 11.1741 2.01563 11.221C2.01563 11.3951 2.10268 11.5558 2.29688 11.5558C2.39063 11.5558 2.47768 11.5223 2.56473 11.4754L5.57143 9.89509L8.57813 11.4754C8.65848 11.5223 8.75223 11.5558 8.84598 11.5558C9.04018 11.5558 9.12054 11.3951 9.12054 11.221C9.12054 11.1741 9.12054 11.1339 9.11384 11.0871L8.53795 7.73884L10.9688 5.3683C11.0558 5.28125 11.1429 5.16741 11.1429 5.04687Z" />
                                            </svg>
                                            <svg class="star-rating__star-icon" width="12" height="12" fill="#ccc" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11.1429 5.04687C11.1429 4.84598 10.9286 4.76562 10.7679 4.73884L7.40625 4.25L5.89955 1.20312C5.83929 1.07589 5.72545 0.928571 5.57143 0.928571C5.41741 0.928571 5.30357 1.07589 5.2433 1.20312L3.73661 4.25L0.375 4.73884C0.207589 4.76562 0 4.84598 0 5.04687C0 5.16741 0.0870536 5.28125 0.167411 5.3683L2.60491 7.73884L2.02902 11.0871C2.02232 11.1339 2.01563 11.1741 2.01563 11.221C2.01563 11.3951 2.10268 11.5558 2.29688 11.5558C2.39063 11.5558 2.47768 11.5223 2.56473 11.4754L5.57143 9.89509L8.57813 11.4754C8.65848 11.5223 8.75223 11.5558 8.84598 11.5558C9.04018 11.5558 9.12054 11.3951 9.12054 11.221C9.12054 11.1741 9.12054 11.1339 9.11384 11.0871L8.53795 7.73884L10.9688 5.3683C11.0558 5.28125 11.1429 5.16741 11.1429 5.04687Z" />
                                            </svg>
                                            <svg class="star-rating__star-icon" width="12" height="12" fill="#ccc" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11.1429 5.04687C11.1429 4.84598 10.9286 4.76562 10.7679 4.73884L7.40625 4.25L5.89955 1.20312C5.83929 1.07589 5.72545 0.928571 5.57143 0.928571C5.41741 0.928571 5.30357 1.07589 5.2433 1.20312L3.73661 4.25L0.375 4.73884C0.207589 4.76562 0 4.84598 0 5.04687C0 5.16741 0.0870536 5.28125 0.167411 5.3683L2.60491 7.73884L2.02902 11.0871C2.02232 11.1339 2.01563 11.1741 2.01563 11.221C2.01563 11.3951 2.10268 11.5558 2.29688 11.5558C2.39063 11.5558 2.47768 11.5223 2.56473 11.4754L5.57143 9.89509L8.57813 11.4754C8.65848 11.5223 8.75223 11.5558 8.84598 11.5558C9.04018 11.5558 9.12054 11.3951 9.12054 11.221C9.12054 11.1741 9.12054 11.1339 9.11384 11.0871L8.53795 7.73884L10.9688 5.3683C11.0558 5.28125 11.1429 5.16741 11.1429 5.04687Z" />
                                            </svg>
                                        </span>
                                        <input type="hidden" asp-for="Review.Rating" id="form-input-rating" value="" />
                                    </div>
                                    <div class="mb-4">
                                        <textarea id="form-input-review" asp-for="Review.Comment" class="form-control form-control_gray" placeholder="Your Review" cols="30" rows="8"></textarea>
                                    </div>
                                    <div class="form-action">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        }
                        else
                        {
                            <h5>
                                Please log in to send a comment.
                                <a asp-controller="Account" asp-action="Login">Login</a>
                            </h5>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="products-carousel container">
        <h2 class="h3 text-uppercase mb-4 pb-xl-2 mb-xl-4">Related <strong>Products</strong></h2>

        <div id="related_products" class="position-relative">
            <div class="swiper-container js-swiper-slider"
                 data-settings='{
            "autoplay": false,
            "slidesPerView": 4,
            "slidesPerGroup": 4,
            "effect": "none",
            "loop": true,
            "pagination": {
              "el": "#related_products .products-pagination",
              "type": "bullets",
              "clickable": true
            },
            "navigation": {
              "nextEl": "#related_products .products-carousel__next",
              "prevEl": "#related_products .products-carousel__prev"
            },
            "breakpoints": {
              "320": {
                "slidesPerView": 2,
                "slidesPerGroup": 2,
                "spaceBetween": 14
              },
              "768": {
                "slidesPerView": 3,
                "slidesPerGroup": 3,
                "spaceBetween": 24
              },
              "992": {
                "slidesPerView": 4,
                "slidesPerGroup": 4,
                "spaceBetween": 30
              }
            }
          }'>
                <div class="swiper-wrapper">
                    @foreach (var item in Model.RelatedProducts)
                    {
                        <div class="swiper-slide product-card">
                            <div class="pc__img-wrapper">
                                <a asp-controller="Shop" asp-action="ProductDetails" asp-route-id="@item.Id">
                                    @if (item.Images != null && item.Images.Count > 0 && item.Images[0] != null)
                                    {
                                        <img loading="lazy" src="~/images/products/@item.Images[0].ImageUrl" width="330" height="400" alt="Cropped Faux leather Jacket" class="pc__img">
                                    }
                                    else
                                    {
                                        <span>Resim bulunamadı.</span>
                                    }

                                    
                                </a>
                                <a asp-controller="Shop" asp-action="ProductDetails" asp-route-id="@item.Id" class="pc__atc btn anim_appear-bottom btn position-absolute border-0 text-uppercase fw-medium" title="Details" data-product-id="@item.Id">Details</a>
                            </div>

                            <div class="pc__info position-relative">
                                <p class="pc__category">@item.Category.Name</p>
                                <h6 class="pc__title">@item.Name</h6>
                                <div class="product-card__price d-flex">
                                    <span class="money price">$@item.Price</span>
                                </div>

                                <button class="pc__btn-wl position-absolute top-0 end-0 bg-transparent border-0 js-add-wishlist" title="Add To Wishlist">
                                    <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_heart" /></svg>
                                </button>
                            </div>
                        </div>
                    }
                </div><!-- /.swiper-wrapper -->
            </div><!-- /.swiper-container js-swiper-slider -->

            <div class="products-carousel__prev position-absolute top-50 d-flex align-items-center justify-content-center">
                <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_md" /></svg>
            </div><!-- /.products-carousel__prev -->
            <div class="products-carousel__next position-absolute top-50 d-flex align-items-center justify-content-center">
                <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_md" /></svg>
            </div><!-- /.products-carousel__next -->

            <div class="products-pagination mt-4 mb-5 d-flex align-items-center justify-content-center"></div>
            <!-- /.products-pagination -->
        </div><!-- /.position-relative -->

    </section><!-- /.products-carousel container -->
</main>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#customer-review-form').submit(function (event) {
                event.preventDefault(); // Formun varsayılan davranışını engelle
                var formData = $(this).serialize(); // Form verilerini al

                $.ajax({
                    url: '/Shop/AddReview',
                    type: "POST",
                    data: formData,
                    success: function (response) {
                        $('#tab-reviews').load('/Shop/ProductDetails?id=' + @Model.Product.Id + ' #list-form');
                        $('#reviewCount').load('/Shop/ProductDetails?id=' + @Model.Product.Id + ' #reviewCount');
                        //  $('#n-r').load('/Shop/ProductDetails?id=' + @Model.Product.Id + ' .n-r-item);

                    },
                    error: function (xhr, status, error) {
                        // İsteğin başarısız olduğu durumda yapılacak işlemler
                        console.error(xhr.responseText);
                        // Hata mesajını kullanıcıya göstermek için uygun bir yöntem
                    }
                });
            });
        });
        const colorRadios = document.querySelectorAll('.color-radio');

        colorRadios.forEach(radio => {
            radio.addEventListener('click', function () {
                const selectedColorId = this.value;

                const colorLabels = document.querySelectorAll('.swatch-color');

                colorLabels.forEach(label => {
                    if (label.getAttribute('aria-label') === selectedColorId) {
                        label.classList.add('selected-color');
                    } else {
                        label.classList.remove('selected-color');
                    }
                });
            });
        });

    </script>
}